# Project
PROJECT_NAME=eatfit

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=eatfit_user
POSTGRES_PASSWORD=eatfit_pass
POSTGRES_DB=eatfit

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Backend
BACKEND_GRPC_PORT=50051
BACKEND_HTTP_PORT=8080
BACKEND_HOST=0.0.0.0

# Security
JWT_SECRET=change_me_in_production